.label {
    color:rgb(151, 181, 152);
}

.label:hover {
    transform: scale(4);
}
  
p.a {
    font: 15px Arial, sans-serif;
}

#title {
    background-color: rgb(216, 171, 145)
}

* {
    background-color: white
}
